{% extends 'layouts/bootstrap4.html.twig' %}

{% set pageTitle = 'Homepage' %}

{% block body %}
    <div class="container">
        <h1>Homepage works</h1>
        <i class="fa fa-home"></i>
    </div>
{% endblock %}